<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

    <link rel = "stylesheet" type = "text/css" href = "./styles/style.css">

</head>

<body>
    <div class = "flex-nav-container">
        <div><a href = "">Gmail</a></div>
        <div><a href ="">Images</a></div>
        <div><img src="./images/grid.png" id ="img2"/></div>
        <div><img src = "./images/bell.png" id = "img3"/></div>
        <div><img src = "./images/iconA.png" id ="img4"/></div>

    </div>
    
    <div class = "google-flex-container">

        <div><img src ="./images/google2.gif" id ="img1"/></div>
        <div><div id = "warn"></div><form><input type ="text" id = "input1" name ="text"/></form>
        </div>
    </div>
    
    <div class = "flex-search-container">
        <div><button id ="button1">Google Search</button>
            <button id ="button2">I am Feeling Lucky</button>
        </div> </div>
        <p id ="lang">Google offered in: <a href ="">Hausa</a> <a href ="">Igbo</a> 
            <a href ="">Ede</a> <a href ="">Yoruba</a> <a href ="">Pidgin</a></p>
        <div class = "footer1">Nigeria</div>
        <div class = "footer2">
        <div class ="footerleft">
            <div><a href ="">Advertising</a></div>
            <div><a href = "">Business</a></div>
            <div><a href ="">About</a></div>
        </div>
        <div class ="footerright">
            <div><a href ="">Privacy</a></div>
            <div><a href ="">Terms</a></div>
            <div><a href = "">Settings</a></div>
            <div><a href ="">Use Google.com</a></div>
        </div>
    </div>
    <script src = "./js/searchvalidation.js"></script>
</body>


</html>
